<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*<link rel="stylesheet" href="~/images/" />*@
   

</head>
<body>
    <header>
        <nav  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bot
tom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">YZL-3159</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <i><b><a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">HOME</a></b></i>
                        </li>
                        <li class="nav-item">
                            <i><b><a class="btn btn-danger ml-2" asp-area="Admin" asp-controller="Home" asp-action="Index">ADMIN PAGE</a></b></i>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <a asp-action="MyCart" asp-controller="Home" class="btn btn-primary">
                            <i class="bi-cart-fill me-1"></i>
                            SHOPPING CART
                            <img  src="/images/avm.jpg" width="30" height="30" />
                            @{
                                if (TempData["sepet"] != null)
                                {
                                    var sepet = TempData["sepet"] as WebUI.Models.Cart;
                                    <span class="badge bg-dark text-white ms-1 rounded-pill">
                                        @sepet.MyCart.Count
                                    </span>
                                } }
                        </a>
                    </form>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="background-color:black; color:wheat" class="border-top footer text-muted">
        <div class="container">
            &copy; <i><b>MUSTAFA CAN BOZBUĞA -</b></i><a href="https://www.linkedin.com/in/mustafa-can-bozbu%C4%9Fa-35b709169/">LINKEDIN</a>


        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
