@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<div id="deneme">
    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {

            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Home"> HELLO :) @User.Identity.Name</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Logout" asp-controller="Membership">Logout</a>
            </li>

        }
        else
        {
            <li id="basliklar" class="nav-item">
                <i><b><a class="btn btn-primary"  asp-action="Register" asp-controller="Membership">REGISTER</a></b></i>
            </li>
            <li id="basliklar" class="nav-item">
                <i><b><a class="btn btn-success ml-2"  asp-action="Login" asp-controller="Membership">LOGIN</a></b></i>
            </li>
            

        }
    </ul>
</div>

